* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #f0f8ff;
}

body {
  background: #04011f;
  height: 100vh;
}

.game-container {
  margin: 0 auto;
  padding: 15px;
  max-width: 500px;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 20px;
}

/*******************/
/**    Header     **/
/*******************/

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(20px, auto);
  align-items: center;
  justify-items: center;
  border: 1px solid #ccc;
}

.title {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  text-align: center;
}

.score-container {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  text-align: center;
  padding: 0.75rem 1.5rem;
  background-color: #3b3834;
  border-radius: 4px;
  border: none;
}

#restart-btn {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  text-align: center;
  padding: 0.75rem 1.5rem;
  background-color: #d0634d;
  border-radius: 4px;
  border: none;
}


/*******************/
/**   Game area   **/
/*******************/

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
  background: #776758;
  border-radius: 6px;
  align-items: center;
  justify-items: center;
}

.square {
  background-color: #988675;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.flex-column {
  flex-direction: column;
}