* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #f0f8ff;
}

:root {
  --square-size: 0px;
}

body {
  background: #3a3027;
  height: 100vh;
}

.game-container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

/*******************/
/**    Header     **/
/*******************/

header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  width: 100%;
  border-radius: 6px;
  padding: 0.5rem;
}

.victory {
  background-color: #4caf50;
}

.gameover {
  background-color: #f44336;
}

.title-container {
  text-align: center;
}

.score-container {
  text-align: center;
  padding: 0.5rem 1.5rem;
  background-color: #2b2925;
  border-radius: 4px;
  border: none;
  margin-bottom: 1rem;
}

#restart-btn {
  text-align: center;
  padding: 0.75rem 1.5rem;
  background-color: #a24d3c;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}


/*******************/
/**   Game area   **/
/*******************/

#square-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
  background: #776758;
  border-radius: 6px;
  align-items: center;
  justify-items: center;
}

.square {
  background-color: #988675;
  color: #2b2925;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: var(--square-size);
  width: var(--square-size);
  font-size: calc(var(--square-size) / 2);
}


/********************/
/**   Animations   **/
/********************/

.revealed {
  animation: revealAnimation 0.4s ease-in-out;
}

@keyframes revealAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.merged {
  animation: mergeAnimation 0.4s ease-in-out;
}

@keyframes mergeAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}