services:

  2048-server:
    image: 2048-server
    build:
      context: .
      dockerfile: Dockerfile
    restart: no
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
